<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCatsDay1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1><% if current_user %>
        <%= link_to current_user.username, user_url %>
        <%= button_to "Log out", session_url(current_session), method: :delete %>
      <% else %>
        <%= link_to "Login Here", new_session_url %>
      <% end %>
  </h1>

<%= yield %>

</body>
</html>
